<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal_haitui.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,149},{48,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{48,47}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>animal_huli.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,49},{51,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{51,49}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>animal_laoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>animal_tuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{45,53}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>animal_xiaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{46,49}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{46,49}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>animal_xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,100},{50,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,47}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>animal_xiongmao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{50,47}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{50,47}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc190a37d06867b86cf2f2819ccde173$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
