<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,476},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>Backed.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,949},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>Celestial_Body.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{451,453}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{451,453}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>Cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,749},{171,91}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{171,91}}</string>
                <key>sourceSize</key>
                <string>{213,117}</string>
            </dict>
            <key>Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{189,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{189,49}}</string>
                <key>sourceSize</key>
                <string>{191,51}</string>
            </dict>
            <key>Level1_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,586},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{288,288}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>Level1_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,878},{201,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{201,62}}</string>
                <key>sourceSize</key>
                <string>{201,64}</string>
            </dict>
            <key>Level2_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,586},{288,288}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>Level2_imaged.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,586},{288,288}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>Level2_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,876},{199,70}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{199,70}}</string>
                <key>sourceSize</key>
                <string>{201,106}</string>
            </dict>
            <key>Level3_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,586},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>Level3_imaged.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,294},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>Level3_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,2},{199,98}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,98}}</string>
                <key>sourceSize</key>
                <string>{201,106}</string>
            </dict>
            <key>Level4_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,294},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>Level4_imaged.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,294},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>Level4_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,749},{197,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{197,104}}</string>
                <key>sourceSize</key>
                <string>{201,106}</string>
            </dict>
            <key>Level5_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,2},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>Level5_imaged.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,2},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>Level5_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,203},{201,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{201,82}}</string>
                <key>sourceSize</key>
                <string>{201,106}</string>
            </dict>
            <key>Level6_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>Level6_imaged.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,457},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>Level6_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,203},{201,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{201,82}}</string>
                <key>sourceSize</key>
                <string>{201,106}</string>
            </dict>
            <key>Level_BackGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,876},{70,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>Point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,876},{128,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,13}}</string>
                <key>sourceSize</key>
                <string>{128,13}</string>
            </dict>
            <key>Pointed.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,564},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,406},{128,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>Shoped.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,2},{138,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,73}}</string>
                <key>sourceSize</key>
                <string>{138,73}</string>
            </dict>
            <key>Star_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,142},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>UnLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,855},{70,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>starcount_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,855},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>starcount_gray_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,457},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>story_help30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,876},{200,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,17}}</string>
                <key>sourceSize</key>
                <string>{200,17}</string>
            </dict>
            <key>story_help40.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1002},{200,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,17}}</string>
                <key>sourceSize</key>
                <string>{200,17}</string>
            </dict>
            <key>story_help45.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,983},{200,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,17}}</string>
                <key>sourceSize</key>
                <string>{200,17}</string>
            </dict>
            <key>story_help50.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,964},{200,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,17}}</string>
                <key>sourceSize</key>
                <string>{200,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level_Source.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8712042495c8ab7fd214955f5169b210$</string>
            <key>textureFileName</key>
            <string>Level_Source.png</string>
        </dict>
    </dict>
</plist>
